.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.72);
  @media (min-width: 768px) {
    padding: 24px 120px;
  }
  &__menu_logo {
    margin-left: 18px;
    @media (min-width: 768px) {
      width: 34px;
    }
  }
  &__user-menu {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__balance {
    display: flex;
    align-items: center;

    .balance-btn {
      border-radius: 4px 0 0 4px;
    }
    .plus-btn {
      border-radius: 0 4px 4px 0;
    }
  }
}
